<nb-card>
  <nb-card-header>Edition</nb-card-header>
  <nb-card-body class="media">
    <div class="media-poster">
      <div class="media-poster-container">
        <img src="{{ image }}" />
      </div>
    </div>
    <div class="media-details">
      <div class="media-title">
        <h2>Titre</h2>
        <input nbInput value="{{ name }}" fullWidth>
      </div>
      <div class="media-extras">
        <h3>Informations</h3>
        <input nbInput value="{{ extra }}" fullWidth>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton>Sauvegarder</button>
    <button nbButton outline status="danger" size="tiny">Annuler</button>
  </nb-card-footer>
</nb-card>