:host nb-layout-header a {
  font-size: 2rem;
  text-decoration: none;
}

:host nb-layout-column {
  height: 50vw;
}

:host nb-layout-column:first-child {
  background: #f4f4f7;
}

.header-container.left {
  width: 100%;
}

.logo {
  margin-left: 10px;
  font-size: 22px;
  display: inline-block;
}