<div class="movie-container">
    <div class="movie">
        <img class="movie-img" [defaultImage]="defaultImage" [lazyLoad]="image">
    </div>
    <div class="text-movie-cont">
        <div class="mr-grid">
            <h1>{{ media.name }}</h1>
        </div>
        <div class="mr-grid extra-row">
            <p class="media-extra">{{ media.extra }}</p>
        </div>
        <div class="mr-grid action-row">
            <div class="action-btn"><i class="eva eva-edit m-icon" (click)="editMe()"></i>
            </div>
            <div class="action-btn"><i class="eva eva-share m-icon"></i>
            </div>
        </div>
    </div>
</div>